In [0]:
from pandas import DataFrame, Series
import pandas as pd
from dateutil.parser import parse
import datetime as datetime
import matplotlib.pyplot as plt

In [0]:
#load the dataset
def load_data(data_location, region_location):
  data = pd.read_csv(data_location)
  region_info = pd.read_csv(region_location)
  region_info.drop_duplicates('LocationID','first',inplace=True)
  return data, region_info

In [0]:
data, region_info = load_data('/content/drive/capstone dataset/yellow_tripdata_2018-08.csv','/content/drive/capstone dataset/taxizones.csv')

In [0]:
data

         VendorID tpep_pickup_datetime  ... improvement_surcharge  total_amount
0               1  2018-08-01 00:44:35  ...                   0.3         24.30
1               1  2018-08-01 00:02:19  ...                   0.3          3.80
2               1  2018-08-01 00:13:25  ...                   0.3         15.35
3               1  2018-08-01 00:10:37  ...                   0.3         39.10
4               1  2018-08-01 00:02:18  ...                   0.3          6.80
...           ...                  ...  ...                   ...           ...
7849129         1  2018-08-31 23:54:46  ...                   0.3          8.80
7849130         2  2018-08-31 23:24:09  ...                   0.3          8.80
7849131         2  2018-08-31 23:35:09  ...                   0.3         15.38
7849132         2  2018-08-31 23:55:23  ...                   0.3         11.88
7849133         2  2018-08-31 23:41:48  ...                   0.3          7.30

[7849134 rows x 17 columns]

In [0]:
del data['RatecodeID']
del data['store_and_fwd_flag']
del data['payment_type']
del data['passenger_count']
del data['VendorID']

In [0]:
def del_negative_values(filtered_data):
  #[fare_amount]
  fare_index = filtered_data[filtered_data['fare_amount'] < 2.5].index
  filtered_data = filtered_data.drop(fare_index)
  #[extra]
  fare_index_extra = filtered_data[filtered_data['extra'] < 0].index
  filtered_data = filtered_data.drop(fare_index_extra)
  #[tolls_amount]
  fare_index_tolls = filtered_data[filtered_data['tolls_amount'] < 0].index
  filtered_data = filtered_data.drop(fare_index_tolls)
  #[tip_amount]
  fare_index_tip = filtered_data[filtered_data['tip_amount'] < 0].index
  filtered_data = filtered_data.drop(fare_index_tip)
  #[improvement_surcharge]
  filtered_data_improvement = filtered_data[filtered_data['improvement_surcharge'] != 0.3].index
  filtered_data = filtered_data.drop(filtered_data_improvement)
  #[mta_tax]
  filtered_data_mtatax =  filtered_data[(filtered_data['mta_tax'] != 0.5) & (filtered_data['mta_tax'] != 0)].index
  filtered_data = filtered_data.drop(filtered_data_mtatax)
  return filtered_data

In [0]:
# datasize 8713831 -> 8703215
newData = del_negative_values(data)

In [0]:
# format of the date '2018-06-01 00:00:00'
def date_check(result,start_date, end_date, attribute):
  result = result.sort_values(by=attribute, ascending= True)
  result.reset_index(inplace = True, drop=True)
  pickup_start = result[result[attribute] >= start_date].index[0]
  pickup_end = result[result[attribute] >= end_date].index[0]
  newData = result.iloc[pickup_start:pickup_end, :]
  return newData

In [0]:
newData = date_check(newData,'2018-08-01 00:00:00', '2018-09-01 00:00:00','tpep_pickup_datetime')
newData = date_check(newData,'2018-08-01 00:00:00', '2018-09-01 00:00:00','tpep_dropoff_datetime')

In [0]:
def fare_abnormal(newData):
  #[tolls_amount]
  tolls_amount = newData[(newData['tolls_amount'] > 30)].index
  newData = newData.drop(tolls_amount)
  #[trip_distance]
  trip_dis = newData[(newData['trip_distance'] > 50)|(newData['trip_distance'] < 0.5)].index
  newData = newData.drop(trip_dis)
  #[fare_amount]
  fare_amount = newData[newData['fare_amount'] > 75].index
  newData = newData.drop(fare_amount)
  return newData

In [0]:
newData = fare_abnormal(newData)

In [0]:
#new column duration
newData['duration'] = (pd.to_datetime(newData['tpep_dropoff_datetime']) - pd.to_datetime(newData['tpep_pickup_datetime']))
newData['duration'] = newData['duration'].map(lambda x:x.total_seconds()/60)
#[duration]
duration = newData[(newData['duration']>180)|(newData['duration']<5)].index
newData = newData.drop(duration)
#new column average speed - km/h
newData['avg_speed'] = newData['trip_distance']/newData['duration']*60
#[avg_speed]
avg_speed = newData[(newData['avg_speed'] > 129)|(newData['avg_speed'] < 5)].index
newData = newData.drop(avg_speed)

In [0]:
newData

        tpep_pickup_datetime tpep_dropoff_datetime  ...   duration  avg_speed
48       2018-08-01 00:00:17   2018-08-01 00:05:18  ...   5.016667  15.906977
50       2018-08-01 00:00:02   2018-08-01 00:05:26  ...   5.400000  12.222222
52       2018-08-01 00:00:16   2018-08-01 00:05:30  ...   5.233333  19.146497
54       2018-08-01 00:00:11   2018-08-01 00:05:34  ...   5.383333  12.037152
63       2018-08-01 00:00:22   2018-08-01 00:05:55  ...   5.550000  18.378378
...                      ...                   ...  ...        ...        ...
7835519  2018-08-31 23:31:13   2018-08-31 23:59:57  ...  28.733333  38.422274
7835520  2018-08-31 23:48:01   2018-08-31 23:59:57  ...  11.933333   6.486034
7835521  2018-08-31 23:45:40   2018-08-31 23:59:57  ...  14.283333  15.122520
7835522  2018-08-31 23:52:48   2018-08-31 23:59:58  ...   7.166667  12.558140
7835523  2018-08-31 23:45:57   2018-08-31 23:59:58  ...  14.016667  11.129608

[6082965 rows x 14 columns]

In [0]:
newData.to_csv('/content/drive/capstone dataset/cleaned_2018_08.csv', index = False)

In [0]:
final = pd.read_csv('/content/drive/capstone dataset/cleaned_2018_07.csv')

In [0]:
final

        tpep_pickup_datetime tpep_dropoff_datetime  ...   duration  avg_speed
0        2018-07-01 00:00:16   2018-07-01 00:05:21  ...   5.083333  12.983607
1        2018-07-01 00:00:08   2018-07-01 00:05:30  ...   5.366667   7.826087
2        2018-07-01 00:00:47   2018-07-01 00:05:57  ...   5.166667  10.103226
3        2018-07-01 00:00:43   2018-07-01 00:06:04  ...   5.350000  20.186916
4        2018-07-01 00:00:50   2018-07-01 00:06:11  ...   5.350000  17.158879
...                      ...                   ...  ...        ...        ...
6046503  2018-07-31 23:54:30   2018-07-31 23:59:57  ...   5.450000  13.651376
6046504  2018-07-31 23:44:19   2018-07-31 23:59:57  ...  15.633333  11.897655
6046505  2018-07-31 23:39:27   2018-07-31 23:59:58  ...  20.516667  16.961820
6046506  2018-07-31 23:45:06   2018-07-31 23:59:59  ...  14.883333  16.125420
6046507  2018-07-31 23:41:51   2018-07-31 23:59:59  ...  18.133333  13.235294

[6046508 rows x 14 columns]

In [0]:
 'tpep_pickup_datetime'
 'tpep_dropoff_datetime'
 'trip_distance'
 'PULocationID' ---> pickup locationID(1-260)
 'DOLocationID' ---> dropoff locationID(1-260)
 'fare_amount' ---> meter showed payment
 'total_amount' ---> fare_amount + different kinds of surcharge
 'Duration' ---> minutes
 'avg_speed' ---> average speed 
 'tip_amount' ---> tips
 'tolls_amount' ---> tolls
 'improvement_surcharge' ---> surcharge
 'extra'
 'mta_tax'