In [338]:
#backgroup information
'''
Data cleaned criteria: —————————— Dataset size(6581k rows) —————————— Always check the statistical result —————————— Subsampling 8% of data from each day of 2019 (1)check duplicates in taxi_zone dataset and consolidated taxi dataset and drop duplicates.

(2)match LocationID and its name + drop columns where LocationID cannot match

(3)Drop rows where ‘congestion_surcharge’ != 2.5 OR 0(Data size 6621924 -> 6621742), and keep the null value(5.7%).

(4)drop rows

‘fare_amount’ < 2.5
‘extra’ < 0
’Tip amount’ < 0 (first three columns in total filtered 2.4%)
‘Tolls amount’ < 0 & ‘Tolls amount’ >30(177 rows)
‘improvement_surcharge’ != 0.3 OR 0(2 rows)
‘Trip distance’ < 0 (39997 rows -> 0.6%)
‘Duration’ < 0 (69 rows)
(5) Routes check(metered value outliers) Metered Route

Route1: To Newark Liberty International Airport(largest: 60.98km->200.5)// <- current threshold
Route2:from Manhattan or to Manhattan —6354285 records out of 6621482— (largest: 107.37km->308.5) <-reset current threshold Fixed price Route
Route1: From GFK to Manhattan or from Manhattan to GFK(fixed price —— 52$——0 records)
(6)Columns added

Geo Space coordinate matching (GOOGLE API)
‘Weekday’
‘Duration’
'''

In [ ]:
from pandas import DataFrame, Series
import pandas as pd
data = pd.read_csv('/Users/liuyang/Desktop/taxi_output.csv')
region_info = pd.read_csv('/Users/liuyang/Desktop/taxi_zones.csv')

In [339]:
import matplotlib.pyplot as plt
#any(region_info.duplicated('LocationID'))
region_info.drop_duplicates('LocationID','first',inplace=True)

In [340]:
data.drop(columns = ['PU_Zone','DO_Zone','F1','Unnamed: 0'], inplace = True)

In [341]:
data.columns

Index(['Duration', 'VendorID', 'tpep_dropoff_datetime', 'passenger_count',
       'trip_distance', 'RatecodeID', 'store_and_fwd_flag', 'PULocationID',
       'DOLocationID', 'payment_type', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount',
       'congestion_surcharge', 'tpep_pickup_datetime_1', 'PU_weekday'],
      dtype='object')

In [342]:
data.rename(columns = {'PU_weekday':'Weekday','tpep_dropoff_datetime':'dropoff_time','tpep_pickup_datetime_1':'pickup_time'}, inplace = True)

In [343]:
#6621924
len(data)
#data.describe().astype('int64')

6621924

In [344]:
#len(region_info)
merged_result = pd.merge(data, region_info, left_on = 'PULocationID', right_on = 'LocationID', how = 'left')

In [345]:
len(merged_result)

6621924

In [346]:
#fare_amount = pd.Series(data['fare_amount']).sort_values()
filtered_result = merged_result[['Duration', 'VendorID', 'dropoff_time', 'passenger_count',
       'trip_distance', 'RatecodeID', 'store_and_fwd_flag', 'PULocationID',
       'DOLocationID', 'payment_type', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount',
       'congestion_surcharge', 'pickup_time', 'Weekday', 'Shape_Leng', 'Shape_Area', 'zone', 'LocationID',
       'borough']]
filtered_result.rename(columns = {'Shape_Leng':'PULeng','Shape_Area':'PUArea','zone':'PUzone','borough':'PUborough'}, inplace = True)

In [347]:
filtered_result.columns

Index(['Duration', 'VendorID', 'dropoff_time', 'passenger_count',
       'trip_distance', 'RatecodeID', 'store_and_fwd_flag', 'PULocationID',
       'DOLocationID', 'payment_type', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount',
       'congestion_surcharge', 'pickup_time', 'Weekday', 'PULeng', 'PUArea',
       'PUzone', 'LocationID', 'PUborough'],
      dtype='object')

In [348]:
# delete the column of congestion surcharge, because 2811951 of this column equals to 0, 37 of this column equals to 2.5 
filtered_result['congestion_surcharge'].value_counts()
# congestion_normal -> 0.9427766163305769
congestion_normal = len(filtered_result[(filtered_result['congestion_surcharge'] == 0)|(filtered_result['congestion_surcharge'] == 2.5)])/len(filtered_result)
#0.05719590153847083
congestion_null = null_value(filtered_result, 'congestion_surcharge')
#1-congestion_null-congestion_normal
# data to be filtered proportion -> 2.7482130952272144e-05 | data size(6621924 -> 6621742)
#filtered_congestion_null = filtered_result['congestion_surcharge'].
filtered_congestion = filtered_result[(filtered_result['congestion_surcharge'] == 0.75)|(filtered_result['congestion_surcharge'] == 2.75)|(filtered_result['congestion_surcharge'] == 0.50)|(filtered_result['congestion_surcharge'] == 4.50)].index
filtered_result.drop(filtered_congestion, inplace = True)
#len(filtered_result)

In [470]:
1-(6621742/6621924)

2.7484459199422773e-05

In [350]:
#delete null value in 'zone' and 'borough' 
def null_value(dataset,feature):
    count = list(dataset[feature].isna())
    num = 0
    length = len(count)
    for i in count:
        if i is True:
            num += 1
    return(num/length)

In [351]:
#check null value in 'zone'
any(filtered_result['PUzone'].isna())
#filtered_result.columns
#len(data)

True

In [352]:
def filter_null_zone(dataset, feature):
    dataset[feature] = dataset[feature].fillna('999')
    number = dataset[dataset[feature] == '999'].index.tolist()
    dataset = dataset.drop(number)
    return dataset
#dataset 6621924 -> 6621716
filtered_result= filter_null_zone(filtered_result,'PUzone')

/Users/liuyang/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [353]:
merged = pd.merge(filtered_result, region_info, left_on = 'DOLocationID', right_on = 'LocationID', how = 'left')

In [354]:
merged.columns

Index(['Duration', 'VendorID', 'dropoff_time', 'passenger_count',
       'trip_distance', 'RatecodeID', 'store_and_fwd_flag', 'PULocationID',
       'DOLocationID', 'payment_type', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount',
       'congestion_surcharge', 'pickup_time', 'Weekday', 'PULeng', 'PUArea',
       'PUzone', 'LocationID_x', 'PUborough', 'Unnamed: 0', 'OBJECTID',
       'Shape_Leng', 'Shape_Area', 'zone', 'LocationID_y', 'borough'],
      dtype='object')

In [355]:
merged = merged[['VendorID', 'pickup_time', 'dropoff_time', 'passenger_count',
       'trip_distance', 'RatecodeID', 'store_and_fwd_flag', 'PULocationID',
       'DOLocationID', 'payment_type', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount',
       'congestion_surcharge', 'PULeng', 'PUArea', 'PUzone', 'PUborough',
       'Duration', 'Weekday', 'Shape_Leng',
       'Shape_Area', 'zone', 'borough']]

In [356]:
#remove 3.501984583720451e-05% data which contains null value in zone and borough
#print(null_value(merged,'zone'))
merged.rename(columns = {'Shape_Leng':'DOLeng','Shape_Area':'DOArea','zone':'DOzone','borough':'DOborough'},inplace = True)

In [357]:
#6621716 -> 6621484
filtered_result = filter_null_zone(merged,'DOzone')

In [359]:
#unormal data in fare_amount: propotion = 0.0034431858477646403
#len(list(filtered_result[filtered_result['fare_amount'] <= 2.5].index))/len(filtered_result)
#filtered_data.describe().astype('int64')
filtered_data = filtered_result

In [360]:
#[fare_amount]
#(6621484 -> 6621484)
#filter fare_amount less than 2.5(initial charge) --- 0.0012360546269591412
len(filtered_data[filtered_data['fare_amount'] < 2.5].index)/len(filtered_data)
fare_index = filtered_data[filtered_data['fare_amount'] < 2.5].index
filtered_data = filtered_data.drop(fare_index)
# [extra]
#size of data(6621484 -> 6621484)
fare_index_extra = filtered_data[filtered_data['extra'] < 0].index
filtered_data = filtered_data.drop(fare_index_extra)
#[tolls_amount]
#size of data(6621484 -> 6621484)
fare_index_tolls = filtered_data[filtered_data['tolls_amount'] < 0].index
filtered_data = filtered_data.drop(fare_index_tolls)
#[tip_amount]
#size of data(6621484 -> 6621484)
fare_index_tip = filtered_data[filtered_data['tip_amount'] < 0].index
filtered_data = filtered_data.drop(fare_index_tip)
# check unnormal value (>75 -> 0.008045628442204194)
filtered_data['total_amount'].sort_values()
#[improvement_surcharge]
#value distribution (0.3:6620472, 0.0:1010, 0.03:2)
#filtered the only value where improvement_surcharge = 0.03 <- outlier
#size of data(6621484 -> 6621482)
filtered_data['improvement_surcharge'].value_counts()
filtered_data_improvement = filtered_data[filtered_data['improvement_surcharge'] == 0.03].index
filtered_data = filtered_data.drop(filtered_data_improvement)

In [361]:
filtered_data['fare_amount'].sort_values()
# proportion of fare_amount <= 52  -> 0.9928807478446668
len(filtered_data[filtered_data['fare_amount']<=52].index.tolist())/len(filtered_data)
#proportion of abnormal data = fare_amount >75 -> 0.0010046089379990763
len(filtered_data[filtered_data['fare_amount']> 75].index.tolist())/len(filtered_data)

0.0010046089379990763

In [196]:
#write to csv file
filtered_data['fare_amount'].to_csv('/Users/liuyang/Desktop/fare_amount.csv',header=True, index=True, index_label='index')

In [328]:
len(filtered_data)

6621482

In [363]:
#largest value:to Newark Liberty International Airport <- 60.98km 
#find the largest distance -> price:200.5
filtered_data[filtered_data['DOzone'] == 'Newark Airport'].trip_distance.sort_values(ascending=False)
Max_price_by_meter = filtered_data[filtered_data['trip_distance'] == 60.98]['fare_amount']
#len(filtered_data[filtered_data['fare_amount']> 200.5].index.tolist())/len(filtered_data)

# passenger from GFK to Manhattan or from Manhattan to GFK  ---- 0 records
Manhattan_GFK = filtered_data[((filtered_data['DOborough'] == 'Manhattan')&(filtered_data['PUzone'] == 'GFK'))|((filtered_data['PUborough'] == 'Manhattan')&(filtered_data['DOzone'] == 'GFK'))]
#from Manhattan or to Manhattan --- 6354285 records out of 6621482(take up the majority of the data)
Manhattan_Newyork = filtered_data[(filtered_data['DOborough'] == 'Manhattan') | (filtered_data['PUborough'] == 'Manhattan')]
#find largest value from GFK to other new york city except Manhattan ----- except method

In [364]:

# run of of memory below
#Manhattan_allCountries = pd.merge(Manhattan_Newyork, Manhattan_GFK, left_on = 'tpep_pickup_datetime', right_on = 'tpep_pickup_datetime', how='left') ---- run out of memory
#try_data = Manhattan_allcountries['fare_amount_y'].isna().index ----- run out of memory
#Manhattan_allcountries.iloc[try_data] ---- run out of memory
Manhattan_otherCountries = Manhattan_Newyork

In [365]:
Manhattan_otherCountries['trip_distance'].sort_values(ascending=False)
#largest value 107.37 <- from manhattan to manhattan (59.5 square kms) 
#largest fare_amount <- 308.5(threshold)
Manhattan_otherCountries[Manhattan_otherCountries['trip_distance'] == 107.37]['fare_amount']

5087253    308.5
Name: fare_amount, dtype: float64

In [368]:
#6621482 -> 6621425
fare_amount = filtered_data[filtered_data['fare_amount'] > 308.5].index
filtered_data = filtered_data.drop(fare_amount)

In [378]:
#data size 6621425 -> 6581428
#trip_distance <= 0 (0.6%) removal
trip_distance = filtered_data[(filtered_data['trip_distance'] <= 0)].index
filtered_data = filtered_data.drop(trip_distance)

In [471]:
6621425- 6581428

39997

In [390]:
#tolls_amount > 30 ------> 177 rows
#data size 6581428 ------> 6581251
tolls_amount = filtered_data[(filtered_data['tolls_amount'] > 30)].index
filtered_data = filtered_data.drop(tolls_amount)

In [394]:
#duration < 0 ---- 69 row
#data size 6581251 -> 6581182
duration = filtered_data[(filtered_data['Duration'] < 0)].index
filtered_data = filtered_data.drop(duration)

In [398]:
# without delete row congestion
filtered_data.to_csv('/Users/liuyang/Desktop/taxi_raw.csv',header=True, index=True, index_label='index')

In [406]:
test_data = pd.read_csv('/Users/liuyang/Desktop/taxi_raw.csv')

In [415]:
test_data.columns

Index(['index', 'VendorID', 'pickup_time', 'dropoff_time', 'passenger_count',
       'trip_distance', 'RatecodeID', 'store_and_fwd_flag', 'PULocationID',
       'DOLocationID', 'payment_type', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount',
       'congestion_surcharge', 'PULeng', 'PUArea', 'PUzone', 'PUborough',
       'Duration', 'Weekday', 'DOLeng', 'DOArea', 'DOzone', 'DOborough'],
      dtype='object')

In [416]:
test_data.drop(columns = ['payment_type','extra', 'mta_tax',
       'tip_amount', 'tolls_amount','improvement_surcharge','congestion_surcharge','PULeng','PUArea','DOLeng','DOArea'], inplace = True)

In [420]:
test_data.drop(columns = ['index'], inplace = True)

In [422]:
test_data.to_csv('/Users/liuyang/Desktop/taxi.csv',header=True, index=True, index_label='index')

In [ ]:
from dbfread import DBF
import csv
from pandas import DataFrame, Series
import pandas as pd
# transform taxi_zone to csv
table = DBF('/Users/liuyang/Desktop/taxi_zones.dbf')
df = pd.DataFrame(iter(table))
df.to_csv('/Users/liuyang/Desktop/taxi_zones.csv')

In [424]:
taxi_zones = pd.read_csv('/Users/liuyang/Desktop/taxi_zone_geodata.csv')

In [428]:
any(taxi_zones['LocationID'].duplicated())
len(taxi_zones)

263

In [429]:
taxi_zones.drop_duplicates('LocationID','first',inplace=True)
len(taxi_zones)

In [465]:
#taxi_zones.to_csv('Cleaned_Geodata.csv', header=True, index=True, index_label='index')
taxi_zones.columns

Index(['Unnamed: 0', 'OBJECTID', 'Shape_Leng', 'Shape_Area', 'zone',
       'LocationID', 'borough', 'geoData', 'formattedAddress', 'longitude',
       'latitude'],
      dtype='object')

In [451]:
#Geo code matching
data = pd.read_csv('/Users/liuyang/Desktop/capstone_dataset/taxi.csv')

In [438]:
data.describe().astype('int64')

,index,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,fare_amount,total_amount,Duration,Weekday
count,6581182,6581182,6581182,6581182,6581182,6581182,6581182,6581182,6581182,6581182,6581182
mean,3290590,1,1,2,1,162,160,12,18,17,2
std,1899823,0,1,3,0,65,69,10,13,71,1
min,0,1,0,0,1,1,1,2,2,0,0
25%,1645295,1,1,1,1,114,107,6,11,7,1
50%,3290590,2,1,1,1,162,162,9,14,11,3
75%,4935885,2,2,3,1,233,233,14,20,19,5
max,6581181,4,9,107,6,263,263,308,534,27454,6

In [452]:
merged_result = pd.merge(data, taxi_zones, left_on = 'PULocationID', right_on = 'LocationID', how = 'left')

In [453]:
#6581182
merged_result.columns

Index(['index', 'VendorID', 'pickup_time', 'dropoff_time', 'passenger_count',
       'trip_distance', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'fare_amount', 'total_amount', 'PUzone', 'PUborough', 'Duration',
       'Weekday', 'DOzone', 'DOborough', 'Unnamed: 0', 'OBJECTID',
       'Shape_Leng', 'Shape_Area', 'zone', 'LocationID', 'borough', 'geoData',
       'formattedAddress', 'longitude', 'latitude'],
      dtype='object')

In [454]:
merged_result.drop(columns = ['Unnamed: 0', 'OBJECTID',
       'Shape_Leng', 'Shape_Area', 'zone', 'LocationID', 'borough', 'geoData',
       'formattedAddress'], inplace = True)

In [455]:
merged_result.columns

Index(['index', 'VendorID', 'pickup_time', 'dropoff_time', 'passenger_count',
       'trip_distance', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'fare_amount', 'total_amount', 'PUzone', 'PUborough', 'Duration',
       'Weekday', 'DOzone', 'DOborough', 'longitude', 'latitude'],
      dtype='object')

In [456]:
merged_result.rename(columns = {'longitude':'DOlongitude','latitude':'DOlatitude'}, inplace = True)

In [457]:
merged_result = pd.merge(merged_result, taxi_zones, left_on = 'DOLocationID', right_on = 'LocationID', how = 'left')

In [458]:
merged_result.columns

Index(['index', 'VendorID', 'pickup_time', 'dropoff_time', 'passenger_count',
       'trip_distance', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'fare_amount', 'total_amount', 'PUzone', 'PUborough', 'Duration',
       'Weekday', 'DOzone', 'DOborough', 'DOlongitude', 'DOlatitude',
       'Unnamed: 0', 'OBJECTID', 'Shape_Leng', 'Shape_Area', 'zone',
       'LocationID', 'borough', 'geoData', 'formattedAddress', 'longitude',
       'latitude'],
      dtype='object')

In [459]:
merged_result.drop(columns = ['Unnamed: 0', 'OBJECTID', 'Shape_Leng', 'Shape_Area', 'zone',
       'LocationID', 'borough', 'geoData', 'formattedAddress'], inplace = True)

In [462]:
merged_result.columns

Index(['index', 'VendorID', 'pickup_time', 'dropoff_time', 'passenger_count',
       'trip_distance', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'fare_amount', 'total_amount', 'PUzone', 'PUborough', 'Duration',
       'Weekday', 'DOzone', 'DOborough', 'PUlongitude', 'PUlatitude',
       'longitude', 'latitude'],
      dtype='object')

In [463]:
#merged_result.rename(columns = {'DOlongitude':'PUlongitude','DOlatitude':'PUlatitude'}, inplace = True)
merged_result.rename(columns = {'longitude':'DOlongitude','latitude':'DOlatitude'}, inplace = True)

In [478]:
#merged_result.drop(columns = ['index'],inplace = True)
merged_result.columns.to_list

<bound method IndexOpsMixin.tolist of Index(['VendorID', 'pickup_time', 'dropoff_time', 'passenger_count',
       'trip_distance', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'fare_amount', 'total_amount', 'PUzone', 'PUborough', 'Duration',
       'Weekday', 'DOzone', 'DOborough', 'PUlongitude', 'PUlatitude',
       'DOlongitude', 'DOlatitude'],
      dtype='object')>

In [468]:
merged_result.to_csv('Geo_Cleaned_Lesscolumn.csv', header=True, index=True, index_label='index')

In [ ]:
 'VendorID' ---> data provider
 'pickup_time'
 'dropoff_time'
 'passenger_count'
 'trip_distance'
 'RatecodeID' ---> payment rate(1-6)
 'PULocationID' ---> pickup locationID(1-260)
 'DOLocationID' ---> dropoff locationID(1-260)
 'fare_amount' ---> meter showed payment
 'total_amount' ---> fare_amount + different kinds of surcharge
 'PUzone' ---> pickup zone
 'PUborough' ---> pickup borough
                 (Manhattan, Queens, Brooklyn, Bronx, Staten Island, EWR)
 'Duration' ---> minutes
 'Weekday' ---> 0 for Monday and 6 for Saturday(0-6)
 'DOzone' ---> dropoff zone
 'DOborough' ---> dropoff borough
 'PUlongitude' ---> pickup longitude
 'PUlatitude' ---> pickup latitude
 'DOlongitude' ---> dropoff longitude
 'DOlatitude' ---> drpoff latitude

In [482]:
len(merged_result)

6581182